/* default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom styles */
:root{
    --primary-color: #778270;
    --secondary-color: #AC988A;
    --accent-1: #747474;
    --accent-2: #645B4D;
    --accent-3: #171815;
}

/* menu */
#menu{
    list-style: none;
    display: flex;
    gap: 24px;
}

/* nav-bar */
.nav{
    padding-top: 16px;
}

/* form */
#form{
    border: solid #C4C4C4 1px;
    padding: 24px;
}

/* input */
#form input{
    margin-bottom: 24px;
    height: 55px;
}

/* select gender */
#select-gender{
    margin-bottom: 24px;
    height: 55px;
}

/* button */
#btn-generate{
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    font-weight: bold;
    height: 55px;
}

/* desktop styles */
@media screen and (min-width:1100px){
    /* body */
    .body{
        margin-top: 170px;
    }

    /* form */
    #form{
        width: 50%;
    }
}

/* tablet styles */
@media screen and (min-width:700px){
    /* body */
    .body{
        margin-top: 170px;
    }
    /* form */
    #form{
        width: 75%;
    }
}

/* phone styles */
@media screen and (min-width:300px){
    /* body */
    .body{
        margin-top: 48px;
    }
    /* form */
    #form{
        width: 100%;
    }
}